<html ng-app="mallApp">
<head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <table>
    <tr ng-controller="FilterController">
      <td ng-controller="MallListController">
        <div>
          <ul class="malls">
            Search: <input ng-model="mallName" ng-change="emit()" />
            <li ng-repeat="mall in malls | filter:mallName">
              <span>{{mall.name}}</span>
              <p>{{mall.status}}</p>
            </li>
          </ul>
        </div>
      </td>
      <td ng-controller="CityListController">
        <div>
          <ul class="cities">
            Search: <input ng-model="cityName" ng-change="emit()" />
            <li ng-repeat="city in cities | filter:cityName">
              <span>{{city.name}}</span>
              <p>{{city.status}}</p>
            </li>
          </ul>
        </div>
      </td>  
      <td>
        <div>
          <ul class="rez">
            <h3>Rezult for mall</h3>
            <li ng-repeat="resultsForMall in resultsForMalls">
              <span>{{resultsForMall.cityName}}</span>
              <p>{{resultsForMall.mallsName}}</p>
            </li>
          </ul>
        </div>
      </td>
      <td>
        <div>
          <ul class="rezCities">
            <h3>Rezult for mall</h3>
            <li ng-repeat="result in results">
              <span>{{result.mallName}}</span>
              <p>{{result.citiesName}}</p>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>